{% extends "blog/base.html" %}
{% block title %}Page not found Error - DiamondNepal{% endblock %}
{% block content %}

          <article class="media content-section">
            <img class="rounded-circle article-img" src="https://diamondnepal.com/media/default.jpg">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="">Error Handler</a>
                <small class="text-muted"></small>
              </div>
              <h4><a class="article-title" href="">Page Error</a></h4>
              <p class="article-content">The page you are looking for has been replaced, removed or doesn't exists! We feel sorry about that, instead please have a look at our others blog posts!</p>
            </div>
          </article>

{% endblock content %}
