{% extends "blog/base.html" %}
{% block title %}Server Error - DiamondNepal{% endblock %}
{% block content %}
          <article class="media content-section">
            <img class="rounded-circle article-img" src="https://diamondnepal.com/media/default.jpg">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="">Error Handler</a>
                <small class="text-muted"></small>
              </div>
              <h2><a class="article-title" href="">Server Error</a></h2>
              <p class="article-content">We are sorry that we couldn't process your request! Please let us know when you got this error by filling this <a style="text-decoration:none" href="https://diamondnepal.com/enquiries">Enquiry Form!</a> We are trying our best to resolve this as soon as we can. If you would like to contact us then please email us at <a style="text-decoration:none" href="mailto:contact@diamondnepal.com">contact@diamondnepal.com</a><br/>Thanks For your Understanding!</p>
            </div>
          </article>

{% endblock content %}
