{% extends "blog/base.html" %}
{% block title %}Photo Gallery | DiamondNepal{% endblock %}
{% block content %}

        <article class="media content-section">
          <img class="rounded-circle article-img" src="https://diamondnepal.com/media/default.jpg">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="">Photo Gallery</a><img src="https://diamondnepal.com/media/verified.jpg" style="max-height: 16px;" alt="Verified!"/>
            </div>
            <h3><a class="article-title" href="#">Comming Soon!</a></h3>
            <p class="article-content">Photos will soon be here, please bare with us for some moment!<br> Apologies for the delay!</p>
          </div>
        </article>



{% endblock content %}
