{% extends "blog/base.html" %}
{% block title %}Videos | DiamondNepal | YouTube{% endblock %}
{% block content %}

<style type="text/css">
	.responsive-youtube
	{overflow:hidden; padding-bottom:56.25%; position:relative; height:0;}
	.responsive-youtube iframe
	{left:0; top:0; height:100%; width:100%; position:absolute;}
</style>

<h1>Diamond Nepal - Videos</h1>
<br/>
<div class="responsive-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/MX0meBqcM6I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<br/>
<div class="responsive-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/sqHcXVFpnNE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<br/>
<div class="responsive-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/SKfkXAzKLP0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<br/>
<div class="responsive-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/jzGuSd6stYY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<br/>

<br/>
<div class="responsive-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/8qZMo-3m-4E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<br/>
<div class="responsive-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/izLfwRsKfaU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<br/>
<div class="responsive-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/Apv_HfH2Re0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<br/>

<a href="{% url 'video_three' %}"><button type="button" class="btn btn-danger">Older Videos Page</button>

{% endblock content %}
