{% extends "blog/base.html" %}
{% block title %}Videos | DiamondNepal | YouTube{% endblock %}
{% block content %}

<style type="text/css">
	.responsive-youtube
	{overflow:hidden; padding-bottom:56.25%; position:relative; height:0;}
	.responsive-youtube iframe
	{left:0; top:0; height:100%; width:100%; position:absolute;}
</style>

<h1>Diamond Nepal - Videos</h1>
<br/>
<div class="responsive-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/8TfZzQ9cryQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<br/>
<div class="responsive-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/fitpRw7D2KY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<br/>
<div class="responsive-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/CJ2F7TYS6Jc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<br/>
<div class="responsive-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/hps5q8gOgu4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<br/>

<br/>
<div class="responsive-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/xyz3eGTeKQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<br/>
<div class="responsive-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/SneT22-U6a8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<br/>
<div class="responsive-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/Adhyf2hRVKE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<br/>

<a href="{% url 'video_four' %}"><button type="button" class="btn btn-danger">Older Videos Page</button>

{% endblock content %}