{% extends "blog/base.html" %}
{% block content %}
    <div class="alert alert-info">
        An email has been sent with instructions to reset your password
    </div>
    <small class="text-muted">
        Make sure you provide the same Email that you provided while creating an Account!<br>
        Having Problems? Email to : <a href="mailto:AUTH.DIAMOND@GMAIL.COM">accounts@diamondnepal.com</a>
    </small>
    <script src="//code.tidio.co/cedsgifcm3txlienc72jrst2jhbhjt3k.js" async></script>
{% endblock content %}
